{% extends "news_portal/base.html" %}

{% block main %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{article.title}}</h1>
        <p class="lead text-muted">{{article.short_content}}</p>
       
      </div>
    </div>
  </section>
  <main class="flex-shrink-0">
    <div class="container">
      <div style="text-align:center;">
        <img height="225" src="{{ object.image.url }}" /> 
      </div>
      <div style="padding-top: 2em;">
       {{article.content | safe }}
      </div>
    </div>
  </main>

{% endblock %}

