{% extends "news_portal/base.html" %}

{% block main %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{headline.title}}</h1>
        <p class="lead text-muted">{{headline.short_content}}</p>
       
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for article in articles %}
        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="{{ article.image.url }}" />  
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.short_content}}</p>
              <div class="d-flex justify-content-between align-items-end">
                <div class="btn-group">
                {%if user.can_edit%}
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                {% endif %}
                <a type="button" href="{% url 'article-detail' article.id %}" class="btn btn-sm btn-outline-secondary">Read</a>
                </div>
                <div class="btn-group"></div>
                <small class="text-muted">{{article.date_published}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
